
<%= simple_form_for(@build) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :arrow_shaft %>
    <%= f.input :insert_weight %>
    <%= f.input :draw_length %>
    <%= f.input :draw_weight %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
